<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wq.mapper.SysUserMapper">

    <sql id="Base_Column_List">
        id,user_name,password,role_id,del_flag,crt_by,crt_time,upd_by,upd_time
    </sql>

    <select id="findAll" resultType="com.wq.entity.SysUser">
        select t1.id,t1.user_name,t1.password,t1.role_id,t1.del_flag,t1.crt_by,t1.crt_time,t1.upd_by,t1.upd_time,t2.role_name
        from sys_user t1 left join sys_role t2 on t1.role_id = t2.id
        where t1.del_flag != '1'
        <if test="id != null">
            AND t1.id= #{id}
        </if>
        <if test="userName != null and userName != ''">
            AND t1.user_name like CONCAT('%',#{userName},'%')
        </if>
        <if test="roleId != null and roleId != ''">
            AND t1.role_id = #{roleId}
        </if>
    </select>

    <select id="login" resultType="com.wq.entity.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_name = #{userName,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
        and del_flag !=1
    </select>

    <insert id="insert">
        insert into sys_user (<include refid="Base_Column_List"/>)
        values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{roleId,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR})
    </insert>

    <update id="updateById">
        update sys_user
        <set>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null and delFlag != ''">
                del_flag = #{delFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>
