<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wq.mapper.SysUserMapper">

    <sql id="Base_Column_List">
        id,user_name,password,role_id,biz_id,del_flag,crt_by,crt_time,upd_by,upd_time
    </sql>

    <select id="findAll" resultType="com.wq.entity.SysUser">
        select
        t1.id,t1.user_name,t1.password,t1.role_id,t1.biz_id,t1.del_flag,t1.crt_by,t1.crt_time,t1.upd_by,t1.upd_time,t2.role_name
        from sys_user t1 left join sys_role t2 on t1.role_id = t2.id
        <where>
            t1.del_flag != '0'
            <if test="id != null">
                AND t1.id= #{id}
            </if>
            <if test="userName != null and userName != ''">
                AND t1.user_name like CONCAT('%',#{userName},'%')
            </if>
            <if test="roleId != null and roleId != ''">
                AND t1.role_id = #{roleId}
            </if>
        </where>
        order by t1.crt_time desc,t1.upd_time desc
    </select>

</mapper>
